<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldController">
    <h1 class="page-header">Forms</h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/form">Forms</a></li>
        <li role="presentation" class="active"><a>Fields</a></li>
    </ul>

    <form>
        <div class="form-group" ng-repeat="field in fields">
            <div class="row">
                <div class="col-sm-6">
                    <label>{{field.label}}</label>
                </div>
                <div class="col-sm-4">
                    <i class="btn btn-primary glyphicon glyphicon-pencil"></i>
                    <i class="btn btn-success glyphicon glyphicon-plus"></i>
                    <i class="btn btn-danger glyphicon glyphicon-remove" ng-click="removeField(field)"></i>
                    <i class="btn btn-default glyphicon glyphicon-menu-hamburger"></i>
                </div>
            </div>

            <div ng-switch="field.type">
                <div ng-switch-when="TEXT">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder={{field.placeholder}}>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="DATE">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="date" class="form-control" placeholder={{field.placeholder]}>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="OPTIONS">
                    <div class="row">
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option ng-repeat="option in field.options">
                                    {{option.label}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="EMAIL">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="email" class="form-control" placeholder={{field.placeholder}}>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="TEXTAREA">
                    <div class="row">
                        <div class="col-sm-6">
                            <textarea class="form-control" placeholder={{field.placeholder}}></textarea>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="CHECKBOXES">
                    <div class="row">
                        <ul class="checkbox">
                            <li ng-repeat="option in field.options"><input type="checkbox" value={{option.value}}>{{option.value}}</li>
                        </ul>
                    </div>
                </div>

                <div ng-switch-when="RADIOS">
                    <div class="row">
                        <ul class="radio">
                            <li ng-repeat="option in field.options"><input type="radio" value={{option.value}}>{{option.value}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>Add New Field: </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <select ng-model="model.fieldType" class="form-control">
                        <option ng-repeat="type in typeTemplates" value="{{type}}">
                            {{type.label}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-success glyphicon glyphicon-plus" ng-click="addField(model.fieldType)"></a>
                </div>
            </div>
        </div>
    </form>
</div>
